<div class="p-6 max-w-md mx-auto bg-white rounded shadow">
  <h2 class="text-xl mb-4">Transferencia Bancaria</h2>

  <form (ngSubmit)="transfer()">
    <input
      type="text"
      [(ngModel)]="accountNumber"
      name="account"
      placeholder="Número de cuenta"
      class="w-full p-3 border mb-4"
    />

    <input
      type="text"
      [(ngModel)]="amount"
      name="amount"
      placeholder="Cantidad"
      class="w-full p-3 border mb-4"
    />

    <button type="submit" class="w-full bg-red-600 text-white p-3 rounded">
      Transferir Dinero
    </button>
  </form>
</div>
